{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'register' %}"><h4>+Account</h4></a>
    {% for profile in profiles %}
    <article class="media content-section" style="display: flex; align-items: flex-start;">

        <img class="rounded-circle article-img mr-3" style="height: 80px; width: 70px;" src="{{ profile.imgUrl }}" alt="Profile Image" style="width: 70px; height: 70px;">

        <div class="media-body">
        <div class="article-metadata">
            <b>
                <a class="mr-2" href="{% url 'option' profile.user.username %}">{{ profile.user.username }}</a>
            </b>
        </div>
        <p class="article-content">{{ profile.bio }}</p>
        </div>
    </article>
    {% endfor %}

{% endblock content %}